<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="Play this game this unplayable game this is not actually even a game actually ">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>

    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
</head>
<body>
    <div class="wrapper">
        <header class="header">Header</header>
        <div class="content-wrapper">
            {{{ body }}}
        </div>
        <footer class="footer">Footer (this thing is sticky)</footer>
    </div>
</body>
</html>
