<article class="main game-container">
	<h1>Let's play a game called {{ gameName }}. I guarantee you will lose</h1>
	<p>
	    With a warning label this big, you know they gotta be fun! Oh, but you can. But you may have to metaphorically make a deal with the devil. And by "devil", I mean Robot Devil. And by "metaphorically", I mean get your coat.
	</p>
	<div class="game">
	    <h2>The game</h2>
	    <img src="/images/the_game.jpg" alt="(This is not actually a game)" title="Isn't this fun?">
	</div>
	<p>
	    You guys aren't Santa! You're not even robots. How dare you lie in front of Jesus? We're rescuing ya. You're going back for the Countess, aren't you? We'll need to have a look inside you with this camera.
	    Really?! Tell them I hate them. All I want is to be a monkey of moderate intelligence who wears a suit… that's why I'm transferring to business school! You wouldn't. Ask anyway!
	</p>
	<p>
	    Son, as your lawyer, I declare y'all are in a 12-piece bucket o' trouble. But I done struck you a deal: Five hours of community service cleanin' up that ol' mess you caused. Fry, you can't just sit here in the dark listening to classical music.
	</p>
</article>

<aside class="scoreboard">
	
	<h2>The proof you fail at this game</h2>

	<div id="scoreboard-list" class="scoreboard-list">
		
		<script id="scoreboard-item-template" type="text/x-handlebars-template">
			<div class="scoreboard-item">
		        <span> <label>Name:</label> \{{ playername }} </span>
		        <span> <label>Score:</label> \{{ score }} </span>
		        <span> <label>Time:</label> \{{ time }} s </span>
		    </div>
		</script>
	</div>

	<p>
	    Maybe if you try again, you will get a better sco- pfft! S-Sorry, I can't even say it...
	</p>

</aside>

<script src="/javascripts/game.js"></script>
<script>
	if ("object" === typeof GameController) {
		GameController.init({{ isPro }});
	}
</script>