<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Let's play a game. Click the link</title>
    <meta name="description" content="Play this game this unplayable game this is not actually even a game actually ">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>

    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="public/stylesheets/main.css">
</head>
<body>

<a href="/game">THE GAME</a>

</body>
</html>
