html, body, .wrapper {
    min-height: 100%;
}

html { height: 100%; }

body {
    display: flex;
    flex-flow: column;

    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.wrapper {
    display: flex;
    flex-flow: column;
    flex: 1;
}

.wrapper > * {
    padding: 10px;
}

.content-wrapper {
    flex: 1 100%;
    display: flex;
    flex-flow: row wrap;
}

.content-wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header, .footer {
    background: deepskyblue;
    font-weight: bold;
    text-align: center;
}

.main {
    text-align: left;
    flex: 1 0px;
    flex-flow: column nowrap;
}

/* Put sidebar to the left on wide screens */
@media all and (min-width: 979px) {
    .scoreboard {
        order: 1;
        margin-left: 5px;
        margin-right: 5px;
        border-right: 2px solid bisque;
        flex: 0 400px;
    }
    .main { order: 2; }
}


/* Main content */
.game-container {
    display: flex;
    align-self: flex-start;
}

.game {
    max-width: 480px;
    width: 100%;
    height: 320px;
    margin: auto;

    background: lightgreen;
    border: 1px solid darkmagenta;
    border-radius: 3px;
}

/* Some dummy game content */
.game {
    cursor: pointer;
}
.game h2 {
    text-transform: uppercase;
    font: 700 32pt fantasy;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}
.game img {
    max-width: 100%;
    width: 300px;
    height: 250px;
    text-align: center;
    margin: auto;
    display: block;
}

/* Score board */
.scoreboard h2 {
    text-align: center;
}
.scoreboard-list {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}
.scoreboard-item {
    flex: 0 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    padding: 10px 20px;
    margin-bottom: 10px;

    background-color: aliceblue;
    border: 2px solid bisque;

    font-weight: bold;
}
.scoreboard-item > * {
    flex: 1;
}
.scoreboard-item label {
    font-weight: normal;
    color: coral;
}
